# Configuración del servidor Odoo (local o producción)
ODOO_URL=http://localhost:8069
ODOO_DB=postgres
ODOO_USERNAME=admin
# Puedes usar una API Key de Odoo 14 o la contraseña normal del usuario
ODOO_PASSWORD=odoo_secure_pass

# Configuración de Seguridad de este API de Python
API_BEARER_TOKEN=8620b3bdd9cad2ba51abe13a3d6bbed885976d5c
